x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

services:
  identifier:
    image: semtech/mu-identifier:1.10.1
    links:
      - dispatcher:dispatcher
    environment:
      DEFAULT_ACCESS_CONTROL_ALLOW_ORIGIN_HEADER: "*"
      SESSION_COOKIE_SECURE: "true"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  dispatcher:
    image: semtech/mu-dispatcher:2.1.0-beta.1
    links:
      - resource:resource
    volumes:
      - ./config/dispatcher:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  triplestore:
    image: redpencil/virtuoso:1.2.0
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "http://mu.semte.ch/application"
    volumes:
      - ./data/db:/data
      - ./config/db/virtuoso.ini:/data/virtuoso.ini
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  sparql-cache:
    image: redpencil/varnish-post:1.0.0
    environment:
      BACKEND_HOST: db
    restart: always
    labels:
      - "logging=true"
    logging: *default-logging
  db:
    image: semtech/sparql-parser:feature-improve-float-writing
    volumes:
      - ./config/cl-authorization:/config
      - ./data/mu-auth:/data
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  migrations:
    image: semtech/mu-migrations-service:0.9.0
    links:
      - triplestore:database
    volumes:
      - ./config/migrations:/data/migrations
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  resource:
    # !! CHECK BEFORE UPDATING !!
    # there is a patch in domain.lisp, which fixes a problem with the 2
    # relationships that use the mobiliteit:template predicate
    # (variable->template and measure->template)
    # There is a small chance this patch breaks in a later version, since it uses private apis
    # It is also quite likely the patch is no longer needed in later versions,
    # since it is a rather clear bugfix
    # So, either verify the patch still works (ask @abeforgit for context) or
    # remove it if you've confirmed the fix is in the new version
    image: semtech/mu-cl-resources:feature-always-assume-lockless-hashtables
    environment:
      CACHE_CLEAR_PATH: "http://cache/.mu/clear-keys"
    links:
      - db:database
    volumes:
      - ./config/resources:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  cache:
    image: semtech/mu-cache:2.0.1
    links:
      - resource:backend
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  file:
    image: semtech/mu-file-service:3.4.0
    volumes:
      - ./data/files:/share
    links:
      - db:database
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  frontend:
    image: lblod/frontend-mow-registry:2.13.0
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  static-file:
    image: semtech/static-file-service:0.2.0
    volumes:
      - ./data/static-files:/data
    restart: always
    labels:
      - "logging=true"
    logging: *default-logging
  login:
    image: lblod/acmidm-login-service:feature-configurable
    links:
      - db:database
    environment:
      MU_APPLICATION_AUTH_DISCOVERY_URL: https://authenticatie-ti.vlaanderen.be/op/.well-known/openid-configuration
      MU_APPLICATION_AUTH_CLIENT_ID: ae3be0bb-5c5d-447f-9916-1ea819267e53
      MU_APPLICATION_AUTH_CLIENT_SECRET: configure-in-override
      MU_APPLICATION_AUTH_REDIRECT_URI: https://roadsigns.lblod.info/authorization/callback
      MU_APPLICATION_AUTH_USERID_CLAIM: sub
      USER_GRAPH_TEMPLATE: http://mu.semte.ch/graphs/users
      ACCOUNT_GRAPH_TEMPLATE: http://mu.semte.ch/graphs/users
      MU_APPLICATION_AUTH_ROLE_CLAIM: abb_registiermobiliteit_rol_3d
    logging: *default-logging
    restart: always
    labels:
      - "logging=true"
  project-scripts:
    image: semtech/mu-scripts:1.0.0
    volumes:
      - ./scripts/:/app/scripts/
    restart: "no"

  ################################################################################
  # LDES PRODUCERS
  ################################################################################

  ldes-serve-feed:
    image: lblod/ldes-serve-feed-service:0.1.1
    environment:
      LDES_STREAM_PREFIX: "http://data.lblod.info/streams/op/"
      TIME_TREE_RELATION_PATH: "http://www.w3.org/ns/prov#generatedAtTime"
      PAGE_RESOURCES_COUNT: "50"
      DATA_FOLDER: "/ldes/ldes-feed"
      LDES_FOLDER: "ldes-mow-register"
    volumes:
      - ./data/ldes-feed:/ldes/ldes-feed
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"

  ldes-delta-pusher:
    image: redpencil/ldes-delta-pusher:1.2.9
    environment:
      CRON_HEALING: "0 0 0 * * *" # Every day at midnight
      AUTO_HEALING: "true"
      FOLDER_DEPTH: "1"
      PAGE_RESOURCES_COUNT: "50"
      LDES_STREAM_PREFIX: "http://data.lblod.info/streams/op/"
      TIME_TREE_RELATION_PATH: "http://www.w3.org/ns/prov#generatedAtTime"
      CACHE_SIZE: "1000"
      DATA_FOLDER: "/ldes/ldes-feed"
      LDES_FOLDER: "ldes-mow-register"
      VIRTUOSO_DATE_WORKAROUND: "true"
    volumes:
      - ./config/ldes-delta-pusher:/config
      - ./data/ldes-feed:/ldes/ldes-feed
      # work around https://github.com/redpencilio/ldes-delta-pusher-service/issues/22, can simply be removed when fixed
      - ./data/ldes-feed:/data
    links:
      - db:database
      - triplestore:virtuoso
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"

  tombstone:
    image: lblod/tombstone-service:0.1.1
    links:
      - db:database
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"

  deltanotifier:
    image: semtech/mu-delta-notifier:0.4.0
    volumes:
      - ./config/delta:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging

  modified:
    image: lblod/track-modified-service:0.0.1
    labels:
      - "logging=true"
    volumes:
      - ./config/modified:/config
    links:
      - db:database
    restart: always
    logging: *default-logging

  ################################################################################
  # MOW SPECIFIC SERVICES
  ################################################################################
  annotater:
    image: lblod/fix-annotation-service:4.1.2
    environment:
      SPARQL_ENDPOINT: "http://db:8890/sparql"
    restart: always
    logging: *default-logging
    links:
      - db:database
    labels:
      - "logging=true"

  ordered-signs:
    image: lblod/mow-ordered-signs-service:1.0.3
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"
    environment:
      ALLOW_MU_AUTH_SUDO: true
    links:
      - db:database
      
  ################################################################################
  # RESOURCE INFO SERVICES
  ################################################################################
  
  uri-info:
    image: redpencil/mu-uri-info-service:0.2.1
    restart: always
    links:
      - db:database
    logging: *default-logging
    labels:
      - "logging=true"

  resource-labels-cache:
    image: semtech/mu-cache:2.0.2
    restart: always
    links:
      - resource-labels:backend
      - db:database
    logging: *default-logging
    labels:
      - "logging=true"

  resource-labels:
    image: lblod/resource-label-service:0.3.2
    restart: always
    environment:
      DEFAULT_LANGUAGE: nil
    links:
      - db:database
    logging: *default-logging
    labels:
      - "logging=true"
