version: '3.4'

services:
  identifier:
    ports:
      - "80:80"
  db:
    ports:
      - "8890:8890"
  mocklogin:
    image: lblod/mock-login-service
    links:
      - db:database
  yasgui:
    image: erikap/yasgui
    ports:
      - 8891:80
    environment:
      ENABLE_ENDPOINT_SELECTOR: "true"
      DEFAULT_SPARQL_ENDPOINT: "http://localhost:8890/sparql"
